*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigationbar{
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar-expand-lg{
    background-color: #ffffff !important;   
    border-bottom: 2px solid #4f894f;
}

.navbar-nav a{
    text-decoration: none;
    color: black;
   margin: 0 10px;
   position: static;
}
.container img{
    height: 100px;
    width: 100px;
}
.checkup{
    padding: 10px;
    background-color: #4F894F;
    display: flex;
    align-items: center;
}
.checkup button{
    border: 1px solid#ffffff;
    background-color: #B0D7B0;
    padding: 5px 20px 5px 10px;
    justify-content: center;
    align-items: center;
}
.checkup button:hover{
    background-color: #d4e6d4;
}

.navbar-nav a {
    position: relative;
    text-decoration: none;
    color: inherit; /* Keeps text color unchanged */
    padding-bottom: 5px; /* Adds spacing between text and underline */
  }
  
  .navbar-nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust distance of underline from text */
    width: 0;
    height: 3px; /* Thickness of the underline */
    background-color: green; /* Green underline */
    transition: width 0.3s ease-in-out;
  }
  
  .navbar-nav a:hover::after {
    width: 100%;
  }
  
  


