.footer{
    background-color: #4F894F;
    padding: 50px;
}
.footerlogo img {
    height: 100px;
    width: 100px;
    cursor: pointer;
}
.footerlogo p{
    text-align: justify;
}

.footer ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}